[settings]
#clear_cache = False
#ipaddr = ...
#port = 28001
#usb_network = 192.168.1.50
#usb_gateway = br0
#cachefile = autophone_cache.json
#logfile = autophone.log
#loglevel = DEBUG
#test_path = tests/manifest.ini
#emailcfg = email.ini
#enable_pulse = True
#enable_unittests = False
#cache_dir = builds
#override_build_dir = None
#repos = mozilla-central
#buildtypes = opt
#build_cache_port = 28008

#usb_ip = 192.168.1.200
#build_cache_size = 20
#build_cache_expires = 7
#devicemanager_retry_limit = 8
#devicemanager_settling_time = 60
#phone_retry_limit = 2
#phone_retry_wait = 15
#phone_max_reboots = 3
#phone_ping_interval = 15
#phone_command_queue_timeout = 10
#phone_command_queue_timeout = 1
#phone_crash_window = 30
#phone_crash_limit = 5
