[settings]
#clear_cache = False
#ipaddr = ...
#port = 28001
#cachefile = autophone_cache.json
#logfile = autophone.log
#loglevel = DEBUG
#test_path = tests/manifest.ini
#emailcfg = email.ini
#enable_pulse = True
#enable_unittests = False
#cache_dir = builds
#override_build_dir = None
#repos = mozilla-central
#buildtypes = opt
#build_cache_port = 28008
#verbose = True

#treeherder_url = http://local.treeherder.mozilla.org
#treeherder_credentials = pathto/credentials.json
#treeherder_retries = 3
#treeherder_retry_wait = 300

#build_cache_size = 20
#build_cache_expires = 7
#device_ready_retry_wait = 20
#device_ready_retry_attempts = 3
#device_battery_min = 90
#device_battery_max = 95
#phone_retry_limit = 2
#phone_retry_wait = 15
#phone_max_reboots = 3
#phone_ping_interval = 15
#phone_command_queue_timeout = 10
#phone_command_queue_timeout = 1
#phone_crash_window = 30
#phone_crash_limit = 5
