-e hg+http://hg.mozilla.org/automation/logparser#egg=logparser
-e git+https://github.com/mozilla/treeherder-client.git#egg=treeherder_client
beautifulsoup4
boto>=2.32.1
httplib2
jot
mozautolog
mozdevice
mozprofile
mozillapulse >= 1.0
pytz
