-e hg+http://hg.mozilla.org/automation/logparser#egg=logparser
treeherder-client >= 2.1.0
beautifulsoup4
boto>=2.32.1
httplib2
jot
manifestparser
mozautolog
mozdevice
mozprofile
mozillapulse >= 1.0
requests
pytz
