[paths]
#source = files/
#dest = /mnt/sdcard/tests/autophone/s1test/
#profile = /data/local/tmp/profile
remote = http://phonedash.mozilla.org/

[tests]
blank = blank.html
twitter = twitter.html

[settings]
iterations = 8
#resulturl = http://phonedash.mozilla.org/api/s1s2/

[signature]
id = foo
key = bar
