[paths]
# By default, Autophone will attempt to copy the test files
# from the autophone/files/base directory. If you wish to customize
# the location, you can use the sources option to specify the
# the paths as a space separated list of relative or absolute paths.
#sources =  files/base/ files/s1s2/ files/ep1/twitter.com/
# By default, Autophone will place the test files in
# <testroot>/tests/autophone/s1test/ directory. You can customize
# the location for all devices by setting the dest option.
#dest = /mnt/sdcard/tests/autophone/s1test/
# By default, Autophone will place Fennec's profile in
# /data/local/tmp/profile. You can customize the location
# for all devices by setting the profile option.
#profile = /data/local/tmp/profile

[locations]
# test locations can be empty to specify a local
# path on the device or can be a url to specify
# a web server.
local = 
# The remote option specifies the web server where the devices
# will retrieve the test files for the remote tests. It must
# be specified and be reachable from the devices.
# For reliable remote measurements, the remote web server
# should be local to the testing environment. Otherwise there
# is the possibility of network issues affecting results.
# The web server url can be parameterized using %(webserver_url)s
# via the command line option webserver-url.
#remote = %(webserver_url)s

[tests]
# List each testname as the option name and its corresponding
# file as the option value. Remote and Local versions of the
# tests will be created and displayed in the phonedash UI.
blank = blank.html
twitter = twitter.html

[settings]
# Autophone will load each test page the number of times
# specified by the iterations option.
iterations = 8
# The iterations for a test are terminated early if
# the standard error falls below stderrp_accept.
# If not set, stderrp_accept defaults to 0.
#stderrp_accept = 0.5
# The iterations for a test are rejected if the standard
# error exceeds stderrp_reject.
# If not set, stderrp_reject defaults to 100.
#stderrp_reject = 15
# The iterations for a test are retried up to
# stderrp_attempts if they are rejected.
# If not set, stderrp_attempts defaults to 1.
#stderrp_attempts = 1

#[preferences]
#prefname=prefvalue

#[environment]
#envname=envvalue

# buildtypes is a space separated list of build types
# for this test. If buildtypes is not specified here,
# the value specified by autophone.py will take precedence.
# The buildtypes must also have been specified by autophone.py.
# This section is useful when you wish to enable both opt and
# debug builds but do not wish to run both build types on all
# tests.
#[builds]
#buildtypes = opt

[treeherder]
job_name = Autophone Throbber
job_symbol = t
group_name = Autophone
group_symbol = A

[perfherder]
alert_threshold = 2
min_back_window = 12
max_back_window = 24
fore_window = 12
