[runtests]
# Settings related to executing runtestsremote.py

# xre_path is the path to the XRE (probably xulrunner)
xre_path = path-to-firefox-bin

# utility_path is the path to the necessary utility programs such as
# xpcshell etc.
utility_path = path-to-firefox-bin

# Specify androidprocname if you are testing with a custom build which
# does not follow the conventions in autophone.py:build_job. e.g.
# androidprocname = org.mozilla.fennec_foobar

# Debug message levels for the runtestsremote.py
console_level = DEBUG
log_level = DEBUG

time_out = 300
