[settings]
# Autophone will load each test page the number of times
# specified by the iterations option.
#iterations = 8

# The iterations for a test are terminated early if
# the standard error falls below stderrp_accept.
# If not set, stderrp_accept defaults to 0.
#stderrp_accept = 0.5

# The iterations for a test are rejected if the standard
# error exceeds stderrp_reject.
# If not set, stderrp_reject defaults to 100.
#stderrp_reject = 15

# The iterations for a test are retried up to
# stderrp_attempts if they are rejected.
# If not set, stderrp_attempts defaults to 1.
#stderrp_attempts = 1

#[treeherder]
#job_name = Autophone Webappstartup
#job_symbol = w
#group_name = Autophone
#group_symbol = A
